body{
    width: 1600px;
    height: 1420px;
    background: #E2E7EC;
}
.block{
    padding-top: 90px;
    display: inline-flex;
    justify-content: center;
}
.block5{
    display: inline-flex;
    justify-content: center;
    margin-left: 500px;
}
.block3{
    margin-left: 20px;
    height: 535px;
    background: #FFFFFF;
    transition: 2s;
}
.block6{
    margin-top: 50px;
    margin-left: 502px;
    height: 535px;
    width: 358px;
    background: #FFFFFF;
    transition: 0.5s;
}
.block7{
    margin-top: -535px;
    margin-left: 885px;
    height: 535px;
    width: 358px;
    background: #FFFFFF;
    transition: 1s;
}
.block8{
    margin-left: 1260px;
    margin-top: -535px;
    height: 535px;
    width: 358px;
    background: #FFFFFF;
    transition: 1s;
}
.date1{
    margin-top: -135px;
    margin-left: 47px;
    font-size: 13px;
    font-family: "HansKendrick";
    color: rgba(129, 129, 129, 0.502);
    text-transform: uppercase;
}
.text1{
    margin-left: 47px;
    font-size: 30px;
    font-family: "HansKendrick";
    color: white;
    text-transform: uppercase;
    width: 500px;
}
.date2{
    margin-left: 28px;
    margin-top: 26px;
    font-size: 13px;
    font-family: "HansKendrick";
    color: rgba(129, 129, 129, 0.502);
    text-transform: uppercase;
}
.text2{
    margin-left: 28px;
    margin-top: 10px;
    font-size: 22px;
    font-family: "HansKendrick";
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    
}
.face{
    margin-top: 70px;
    margin-left: 28px;
}
.text3{
    margin-left: 28px;
    margin-top: 50px;
    font-size: 22px;
    font-family: "HansKendrick";
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    
}
.face2{
    margin-top: 70px;
    margin-left: 28px;
}
.face3{
    margin-top: 70px;
    margin-left: 28px;
}
.face4{
    margin-top: 70px;
    margin-left: 28px;
}
.block2{
    transition: 0.5s;
}
.block2:hover{
    transform: scaleY(1.1);
    border: 10px double rgb(165, 15, 196);
}
.block3:hover{
    transform: rotate(720deg);
    border: 10px double rgb(66, 9, 141);
    
}
.block6:hover{
    transform: matrix(1.2,0,0.5,1.2,50,0);
    border: 10px double rgb(8, 206, 206);
}
.block7:hover{
    transform: translateX(20px);
    border: 10px double rgb(76, 182, 14);
}
.block8:hover{
    transform: skewY(-20deg);
    border: 10px double rgb(150, 9, 9);
}