html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1920px;
}
.title_1{
        font-size: 18px;
        font-family: "Myriad Pro";
        color: rgb(48, 48, 48);
        text-transform: uppercase;
        line-height: 1.065;
        text-align: left;
        position: absolute;
        left: 610px;
        top: 45px;
        z-index: 20;      
}
.title_2{
        font-size: 55px;
        font-family: "Myriad Pro";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.047;
        text-align: center;
        position: absolute;
        left: 260px;
        top: 85px;
        z-index: 21;
        width: 850px;      
}
.container__image_1{
        /* background-image: url("Layer 6.png"); */
        /* opacity: 0.102; */
        position: absolute;
        left: 110px;
        top: 300px;
        width: 320px;
        height: auto;
        z-index: 8;      
}
.container__image_2{
        /* background-image: url("Layer 7.png"); */
        position: absolute;
        left: 500px;
        top: 300px;
        width: 320px;
        height: auto;
        z-index: 12;
}
.container__image_3{
        /* background-image: url("Layer 8.png"); */
        position: absolute;
        left: 900px;
        top: 300px;
        width: 320px;
        height: auto;
        z-index: 14;
        /* border: 1px solid black; */
}
.contaienr__arrow_1{
                /* background-image: url("Layer 10 copy.png"); */
                position: absolute;
                left: 10px;
                top: 420px;
                width: 95px;
                /* height: 154px; */
                /* height: auto; */
                height: 96px;
                z-index: 18;
}
.container__arrow_2{
                background-image: url("Layer 10.png");
                position: absolute;
                left: 1225px;
                top: 420px;
                width: 96px;
                height: 96px;
                z-index: 17;
}